<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico|assets|css|js)
  RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

ErrorDocument 404 /views/404.php
